article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: Omnes, sans-serif;
}

a{
    text-decoration: none !important;
}

.wp-block-woocommerce-cart{
    width: 100% !important;
}

.woocommerce-checkout input[type="text"] , .woocommerce-checkout input[type="tel"] , .woocommerce-checkout input[type="email"]{
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 20px;
}
.person-type-field{
    margin-bottom: 20px;
}
#billing_cpf{
    margin-bottom: 0 !important;
}
p#billing_country_field , #billing_state_field{
    margin-bottom: 20px !important;
}
.shop_table{
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
}
.woocommerce-checkout #payment div.payment_box .form-row{
    margin-bottom: 0 !important;
}
.woocommerce-checkout #payment div.form-row{
    padding-bottom: 0 !important;
}
#place_order{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}
#place_order{
    
}